/* components.css */

/*** <sp-nav-button> ***/

:host {
  display: block;
}

.sp-nav-button.root {
  align-items: center;
  column-gap: 16px;
  display: grid;
  grid-template-areas: 'icon text';
  grid-template-columns: 24px auto;
  justify-items: flex-start;
  opacity: 0.7;
  transition: 0.2s linear opacity;
}

.sp-nav-button.root:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s linear opacity;
}

.sp-nav-button ::slotted(p) {
  color: white !important;
  font-size: 14px;
  font-weight: 700;
  margin: -2px 0 0 0;
  padding: 0;
  text-align: left;
  user-select: none;
}

.sp-nav-button ::slotted(.icon-wrapper) {
  align-items: center;
  background-color: white;
  border-radius: 1px;
  box-sizing: border-box;
  display: grid;
  height: 24px;
  justify-items: center;
  width: 24px;
}

.sp-nav-button ::slotted(.icon-wrapper.heart) {
  background: linear-gradient(135deg,#450af5,#c4efd9) !important;
}

/*** <sp-nav-playlist> ***/

.sp-nav-playlist.root {
  color: white;
  font-size: 14px;
  opacity: 0.7;
  user-select: none;
}

.sp-nav-playlist.root:hover {
  cursor: pointer;
  opacity: 1;
}