/* components.css */

/***********************/
/*** <sp-nav-button> ***/
/***********************/

:host {
  display: block;
}

.sp-nav-button.root {
  align-items: center;
  column-gap: var(--sp-nav-btn--root-col-gap);
  display: grid;
  grid-template-areas: 'icon text';
  grid-template-columns: var(--sp-nav-btn--root-tmp-cols);
  justify-items: flex-start;
  opacity: var(--sp-nav-btn--opacity);
  transition: var(--sp-nav-btn--transition);
}

.sp-nav-button.root:hover {
  cursor: pointer;
  opacity: var(--sp-nav-btn--opacity-hover);
  transition: var(--sp-nav-btn--transition);
}

.sp-nav-button ::slotted(p) {
  color: var(--sp-nav-btn--p-color) !important;
  font-size: var(--sp-nav-btn--p-font-size);
  font-weight: var(--sp-nav-btn--p-font-weight);
  margin: var(--sp-nav-btn--p-margin);
  padding: var(--sp-nav-btn--p-padding);
  text-align: left;
  user-select: none;
}

.sp-nav-button ::slotted(.icon-wrapper) {
  align-items: center;
  background-color: var(--sp-nav-btn--icon-bg-color);
  border-radius: var(--sp-nav-btn--icon-border-rd);
  box-sizing: border-box;
  display: grid;
  height: var(--sp-nav-btn--icon-height);
  justify-items: center;
  width: var(--sp-nav-btn--icon-height);
}

.sp-nav-button ::slotted(.icon-wrapper.heart) {
  background: var(--sp-nav-btn--heart-bg) !important;
}


/*************************/
/*** <sp-nav-playlist> ***/
/*************************/

:host(sp-nav-playlist) {
  margin: var(--sp-nav-play--host-margin);
}

.sp-nav-playlist.root {
  color: var(--sp-nav-play--root-color);
  font-size: var(--sp-nav-play--root-font-size);
  opacity: var(--sp-nav-play--root-opacity);
  user-select: none;
}

.sp-nav-playlist.root:hover {
  cursor: pointer;
  opacity: var(--sp-nav-play--root-opacity-hover);
}

.sp-nav-playlist p {
  font-weight: var(--sp-nav-play--p-font-weight);
  margin: var(--sp-nav-play--p-margin);
}