/* global.css */

@import './vars.css';

/**************************************/
/*** GLOBAL - Generic Global Styles ***/
/**************************************/

* {
  font-family: sans-serif;
}

body {
  overscroll-behavior: none;
}

/*****************************/
/*** APP - Main App Styles ***/
/*****************************/

html, #app {
  background-color: var(--main--bg);
  height: var(--main-height);
  margin: var(--main-margin);
  padding: var(--main-padding);
  width: var(--main-width);
}

#app {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "player player";
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows: var(--header-height) auto var(--player-height);
}

#app--main {
  grid-area: main;
  height: var(--main-height);
  width: var(--main-width);
}

/******************************/
/*** HEADER - Header Styles ***/
/******************************/

#app--header {
  grid-area: header;
  height: var(--header-height);
  width: var(--header-width);
}

/********************************/
/*** SIDEBAR - Sidebar Styles ***/
/********************************/

#app--sidebar {
  background-color: var(--sidebar--bg);
  box-sizing: border-box;
  display: block;
  grid-area: sidebar;
  width: var(--sidebar-width);
}

#sidebar--core-nav sp-nav-button:not(:last-child) {
  margin: var(--sidebar--core-btn-margin);
}

#sidebar--create-and-liked {
  margin: var(--sidebar--create-liked-margin);
}

#sidebar--create-and-liked sp-nav-button:not(:last-child) {
  margin: var(--sidebar--create-liked-spnb-margin);
}

/* DELETE Start - These are temp styles */
footer>* {
  display: none;
}

/* DELETE End - These are temp styles  */

#sidebar--home-link {
  margin: var(--sidebar--home-link-margin);
  display: block;
  width: var(--sidebar--home-link-width);
}

#sidebar--home-link img {
  height: var(--sidebar--home-svg-height);
  width: var(--sidebar--home-svg-width);
}

#sidebar--playlist-nav {
  box-sizing: border-box;
  height: var(--sidebar--playlist-nav-height);
  margin: var(--sidebar--playlist-nav-margin);
  overflow-y: auto;
}

#sidebar--playlist-nav::-webkit-scrollbar {
  -webkit-appearance: none;
}

#sidebar--playlist-nav::-webkit-scrollbar:vertical {
  width: var(--sidebar--playlist-nav-sb-width);
}

#sidebar--playlist-nav::-webkit-scrollbar-thumb {
  border-radius: var(--sidebar--playlist-nav-sb-border-rad);
  border: none;
  background-color: var(--sidebar--playlist-nav-bg);
  cursor: pointer;
  transition: var(--sidebar--playlist-nav-transition);
}

#sidebar--playlist-nav::-webkit-scrollbar-thumb:hover {
  background-color: var(--sidebar--playlist-nav-bg-hov);
  transition: var(--sidebar--playlist-nav-transition);
}

#sidebar--upper-nav {
  border-bottom: var(--border-thickness-2) solid var(--border-color);
  height: var(--sidebar--upper-nav-height);
  margin: var(--sidebar--upper-nav-margin);
}

/******************************************/
/*** FOOTER - Player Control Bar Styles ***/
/******************************************/

#app--player-control-bar {
  align-self: flex-end;
  background-color: var(--player--bg);
  border-top: var(--border-thickness-1) solid var(--border-color);
  box-sizing: border-box;
  display: block;
  height: var(--player-height);
  grid-area: player;
  width: var(--player-width);
}

/***********************************/
/*** MISCELLANEOUS - Misc Styles ***/
/***********************************/

/* TODO */