/* vars.css */

:root {

  /***********************/
  /*** GLOBAL - SIZING ***/
  /***********************/

  /*** main app ***/
  --main-height: 100%;
  --main-margin: 0;
  --main-padding: 0;
  --main-width: 100%;

  /*** header ***/
  --header-height: 64px;
  --header-width: 100%;

  /*** sidebar ***/
  /* sidebar - main */
  --sidebar-height: 100%;
  --sidebar-width: 241px;
  /* sidebar - upper-nav */
  --sidebar--upper-nav-margin: 24.26px 24px 0;
  --sidebar--upper-nav-height: 296px;
  /* sidebar - home-link */
  --sidebar--home-link-margin: 0 0 28px 0;
  --sidebar--home-link-width: calc(100% - 48px);
  /* sidebar - home-link svg */
  --sidebar--home-svg-height: 39.35px;
  --sidebar--home-svg-width: auto;
  /* sidebar - create & liked */
  --sidebar--create-liked-margin: 40px 0 0 0;
  --sidebar--create-liked-spnb-margin: 0 0 15px 0;
  /* sidebar - core nav */
  --sidebar--core-btn-margin: 0 0 17px 0;
  /* sidebar - playlist nav */
  --sidebar--playlist-nav-min-height: 150px;
  --sidebar--playlist-nav-height: 50%;
  --sidebar--playlist-nav-margin: 0 5px 0 24px;
  --sidebar--playlist-nav-sb-width: 8px;
  --sidebar--playlist-nav-sb-border-rad: 8px;

  /*** player ***/
  --player-height: 91px;
  --player-width: 100%;

  /*** misc ***/
  --border-thickness-1: 1px;
  --border-thickness-2: 1.5px;


  /***********************/
  /*** GLOBAL - COLORS ***/
  /***********************/

  /*** main ***/
  --main--bg: #121212;

  /*** sidebar ***/
  --sidebar--bg: black;
  --sidebar--playlist-nav-bg: rgba(255, 255, 255, .3);
  --sidebar--playlist-nav-bg-hov: rgba(193, 193, 193, 0.5);

  /*** player ***/
  /* player - main */
  --player--bg: #181818;

  /*** misc ***/
  --border-color: #282828;


  /*********************/
  /*** GLOBAL - MISC ***/
  /*********************/

  /*** sidebar ***/
  --sidebar--playlist-nav-transition: 0.2s linear background-color;


  /***************************************************************/
  /***************************************************************/
  /***************************************************************/


  /***************************/
  /*** COMPONENTS - SIZING ***/
  /***************************/

  /*** sp-nav-button ***/
  /* root */
  --sp-nav-btn--root-col-gap: 16px;
  --sp-nav-btn--root-tmp-cols: 24px auto;

  /* ::slotted(p) */
  --sp-nav-btn--p-font-size: 14px;
  --sp-nav-btn--p-font-weight: 400;
  --sp-nav-btn--p-margin: 2px 0 0 0;
  --sp-nav-btn--p-padding: 0;

  /* ::slotted(.icon-wrapper) */
  --sp-nav-btn--icon-border-rd: 1px;
  --sp-nav-btn--icon-height: 24px;
  --sp-nav-btn--icon-weight: 24px;

  /*** sp-nav-playlist ***/
  /* host */
  --sp-nav-play--host-margin: 16px 0;

  /* root */
  --sp-nav-play--root-font-size: 14px;

  /* p */
  --sp-nav-play--p-font-weight: 100;
  --sp-nav-play--p-margin: 0;


  /***************************/
  /*** COMPONENTS - COLOR ***/
  /***************************/

  /*** sp-nav-button ***/
  /* ::slotted(p) */
  --sp-nav-btn--p-color: white;

  /* ::slotted(.icon-wrapper) */
  --sp-nav-btn--icon-bg-color: white;

  /* ::slotted(.icon-wrapper.heart) */
  --sp-nav-btn--heart-bg: linear-gradient(135deg, #450af5, #c4efd9);

  /*** sp-nav-playlist ***/
  /* root */
  --sp-nav-play--root-color: white;


  /***************************/
  /*** COMPONENTS - MISC ***/
  /***************************/

  /*** sp-nav-button ***/
  /* root */
  --sp-nav-btn--root-opacity: 0.7;
  --sp-nav-btn--root-opacity-hover: 1;
  --sp-nav-btn--root-transition: 0.2s linear opacity;

  /*** sp-nav-playlist ***/
  /* root */
  --sp-nav-play--root-opacity: 0.7;
  --sp-nav-play--root-opacity-hover: 1;
}